<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD Candidate</h1>
            <span><a href="https://www.tum.de/en/homepage/"> Technical University of Munich</a></span>
            <span><address>Munich, Germany</address><time>since 2015</time></span>
        </header>
        <p>
            <em>Doctoral thesis (tentative title): Neuromorphic environment model for autonomous vehicle applications.</em>
            Member of the <a href="https://www.gs.tum.de/en/doctorate-at-tum/"> TUM-Graduate School</a> within the
            <a href="https://www.nst.ei.tum.de/en/home/"> Neuroscientific System Theory Group (NST)</a>,
            <a href="http://www.ei.tum.de/en/welcome/"> Department of Electrical and Computer Engineering</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Diploma in mathematics (minor in computer science)</h1>
            <span><a href="http://www.uni-heidelberg.de/index_e.html"> Ruprecht-Karls-University</a></span>
            <span><address>Heidelberg, Germany</address><time>2004 to 2011</time></span>
        </header>
        <p>
            <em>Diploma thesis: Galois Groups of relative Frobenius-Modules.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>German Abitur</h1>
            <span>Dietrich-Bonhoeffer-Gymnasium</span>
            <span><address>Eppelheim, Germany</address><time>1994 to 2003</time></span>
        </header>
    </article>
</section>
