<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Research Expert Machine Learning and Robotics</h1>
            <span><a href="http://www.bmwgroup.com"> BMW AG</a></span>
            <span><address>Munich, Germany</address><time>since 2018</time></span>
        </header>
        <p>
            Research expert for neuromorphic computing, AI accelerators and power-efficient computing for AI, machine learning and robotics in the team AI, Robotics, Cognitive Systems within the Department Research, New Technologies, Innovations.
        </p>
    </article>
    <article>
        <header>
            <h1>Industrial PhD candidate</h1>
            <span><a href="https://www.bmwgroup.com"> BMW AG</a></span>
            <span><address>Munich, Germany</address><time>2015 to 2018</time></span>
        </header>
        <p>
          Member of the BMW Group PhD-program ProMotion within the Department Research, New Technologies, Innovations.
        </p>
    </article>
    <article>
        <header>
            <h1>Research Associate</h1>
            <span><a href="http://www.ipa.fraunhofer.de/en.html"> Fraunhofer Institute for Manufacturing Engineering and Automation (IPA)</a></span>
            <span><address>Stuttgart Germany</address><time>2011 to 2015</time></span>
        </header>
        <p>
          Participation in several public and private projects concerning different fields of robotic research within the Robot and Assistive Systems Department.
        </p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><a href="http://www.uni-heidelberg.de/index_e.html"> Ruprecht-Karls-University</a></span>
            <span><address>Heidelberg, Germany</address><time>2010 to 2011</time></span>
        </header>
        <p>
          Worked on a project with the German Weather Service at the Institute of Applied Mathematics.
        </p>
    </article>
    <article>
        <header>
            <h1>Working student</h1>
            <span><a href="http://www.mlp.de"> MLP Finanzdienstleistungen AG</a></span>
            <span><address>Wiesloch, Germany</address><time>2007 to 2013</time></span>
        </header>
        <p>
          Analysis and comparison of precautionary insurance products.
        </p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><a href="http://www.uni-heidelberg.de/index_e.html"> Ruprecht-Karls-University</a></span>
            <span><address>Heidelberg, Germany</address><time>2010 to 2011</time></span>
        </header>
        <p>
          Supervised the lectures Linear Algebra 1 and 2 as tutor and created
          <a href="http://www.iwr.uni-heidelberg.de/~Heinrich.Matzat/PDF/Computeralgebra.pdf"> computational algebra lecture notes</a>
          at the Institute for Mathematics and Computer Sciences.
        </p>
    </article>
    <article>
        <header>
            <h1>Alternative civilian service</h1>
            <span>Rhein-Neckar-Werkstätten</span>
            <span><address>Heidelberg, Germany</address><time>2003 to 2004</time></span>
        </header>
    </article>
</section>
