<section class="thirteen columns">
    <h1>Languages</h1>
    <article>
        <header>

            <p>
              <!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              &nbsp;&nbsp; -->
              <strong>German</strong>: Native speaker
            </p>
            <p>
              <!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
              &nbsp;&nbsp; -->
              <strong>English</strong>: Business fluent
            </p>
            <p>
              <!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              &nbsp;&nbsp; -->
              <strong>French</strong>: Basic communication skills
            </p>
            <p>
              <!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              &nbsp;&nbsp; -->
              <strong>Latin</strong>: Reading skills (german degree "Großes Latinum", a certificate for advanced qualification)
            </p>
        </header>
    </article>

</section>
