<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Operating systems</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<strong>Windows</strong>: frequently used in professional and private life
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<strong>Ubuntu</strong>: frequently used in professional and private life
        </p>
      </article>
      <article>
        <header>
            <h1>Software development</h1>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                &nbsp;&nbsp;<strong>C/C++</strong>: 5+ years of experience; extensively used for algorithm development in mobile robot navigation
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                &nbsp;&nbsp;<strong>Python</strong>: 3+ years of experience; extensive use throughout the ongoing PhD project (NumPy, Nengo, Matplotlib, Keras)
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                &nbsp;&nbsp;<strong>Git</strong>: 4+ years of experience and frequently in use
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                &nbsp;&nbsp;<strong><a href="https://www.ros.org">ROS</a> </strong>: 4+ years of experience; extensively used for software development in mobile robot navigation
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
                &nbsp;&nbsp;<strong>Matlab</strong>: approx. one year of experience
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                &nbsp;&nbsp;<strong><a href="http://magma.maths.usyd.edu.au/magma/">Magma</a></strong>: used during computational algebra lectures and for my diploma thesis
            </p>
        </header>
    </article>
    <article>
      <header>
          <h1>Office applications</h1>
          <p>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
              &nbsp;&nbsp;<strong>MS Office</strong>: frequent user
          </p>
          <p>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
              &nbsp;&nbsp;<strong><span class="latex">L<sup>a</sup>T<sub>e</sub>X</span></strong>: freqently used for all theses and scientific publications

          </p>
      </header>
  </article>
</section>
