<div class="social">
	<h5>
		{% if site.website_full %}
		<a href="{{ site.website_full }}"><i class="fa fa-home"></i></a>
		{% endif %}
		{% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.github %}
	  <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}
		{% if site.bitbucket %}
	  <a href="http://bitbucket.com/{{ site.bitbucket }}"><i class="fa fa-bitbucket"></i></a>
    {% endif %}
    {% if site.twitter %}
	  <a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
		{% if site.xing %}
	  <a href="https://www.xing.com/profile/{{ site.xing }}"><i class="fa fa-xing-square"></i></a>
    {% endif %}
    {% if site.researchgate %}
	  <a href="https://www.researchgate.net/profile/{{ site.researchgate }}"><i class="fab fa-researchgate"></i></a>
    {% endif %}
    {% if site.stackoverflow %}
	  <a href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}
	</h5>
</div>
