<section class="thirteen columns">
    <h1>Workshops, conferences and visits</h1>
    <article>
        <header>
            <h1><a href="http://www.iros2019.org"> IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</a></h1>
            <p>Organization of the full-day workshop <a href="https://cogvehicles2019.github.io/">Towards Cognitive Vehicles: perception, learning and decision making under real-world constraints. Is bio-inspiration helpful?</a></p>
            <span><address>Macau, China</address><time>November 4-8, 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://e-nns.org/icann2019/"> 28th International Conference on Artificial Neural Networks (ICANN) </a></h1>
            <span><address>Munich, Germany </address><time>September 17-19, 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://www.elen.ucl.ac.be/esann/"> 27th European Symposium on Artificial Neural Networks (ESANN)</a></h1>
            <span><address>Bruges, Belgium </address><time>April 24-26, 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://www.elen.ucl.ac.be/esann/"> 26th European Symposium on Artificial Neural Networks (ESANN)</a></h1>
            <span><address>Bruges, Belgium </address><time>April 25-27, 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Research visit at the <a href="http://compneuro.uwaterloo.ca/"> Computational Neuroscience Research Group (CNRG)</a>, <a href="https://uwaterloo.ca/"> University of Waterloo</a></h1>
            <span><address>Waterloo, Ontario, Canada</address><time>July 31 - September 8, 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="http://tum.neurocomputing.systems/en/workshops-events/neurocomputing-systems/index.html">NST/TUM Workshop on Neurocomputing Systems </a></h1>
            <span><address>Frauenchiemsee, Germany</address><time>September 25-29, 2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="http://spinnakermanchester.github.io/workshops/sixth.html">6th SpiNNaker Training Workshop </a></h1>
            <span><address>University of Manchester, UK</address><time>September 5-9, 2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="http://capocaccia.iniforum.ch/"> CapoCaccia Cognitive Neuromorphic Engineering Workshop </a></h1>
            <span><address>Alghero, Sardinia, Italy</address><time>April 24 - May 7, 2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="http://www.iros2012.org"> IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</a></h1>
            <span><address>Vilamoura, Algarve, Portugal</address><time>October 7-12, 2012</time></span>
        </header>
    </article>
</section>
